@model DienDanThaoLuan.Models.ThanhVien
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Đăng ký</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/registerFormStyle.css">
</head>
<body>
    <section class="ftco-section">
        <a href="@Url.Action("Index","DienDanThaoLuan")" style="font-weight: bold; font-size: 20px; color: lightgrey; position: relative; top: -80px">Quay lại</a>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">REGISTER</h3>
                        @using (Html.BeginForm("Register", "DienDanThaoLuan", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.TenDangNhap, new { @class = "form-control", @placeholder = "Username", required = "required", name = "username" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control", @id = "password-field", @placeholder = "Password", required = "required", name = "password" })
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.HoTen, new { @class = "form-control", @placeholder = "Fullname", required = "required", name = "fullname" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.SDT, new { @class = "form-control", @placeholder = "Phone Number", name = "phonenumber" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", name = "email" })
                            </div>
                            <p style="color: white; font-size:14px">@ViewBag.error</p>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Sign-up</button>
                            </div>
                         }
                        <p class="w-100 text-center">&mdash; Already have an account? &mdash;</p>
                        <div class="social d-flex text-center">
                            <a href="@Url.Action("Login","DienDanThaoLuan")" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Sign-in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Khi nhấp vào icon span
            $(".toggle-password").click(function () {
                // Lấy input field liên kết với biểu tượng
                var input = $($(this).attr("toggle"));

                // Thay đổi thuộc tính type giữa 'password' và 'text'
                if (input.attr("type") === "password") {
                    input.attr("type", "text");
                    $(this).removeClass("fa-eye").addClass("fa-eye-slash"); // Đổi icon thành icon ẩn mật khẩu
                } else {
                    input.attr("type", "password");
                    $(this).removeClass("fa-eye-slash").addClass("fa-eye"); // Đổi icon thành icon hiển thị mật khẩu
                }
            });
        });
    </script>

</body>
</html>